name: CI

on:
  push:
    branches:
      - "main"
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: ./.github/actions/setup-node

      - name: Run lint
        run: pnpm run lint
